html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  /* height: 100vh; */
  /* touch-action: none; */
  overscroll-behavior-y: none;
}

#app {
  display: block;
  width: 720px;
  height: 100%;
  margin: 0 auto;
  padding: 20px 10px 0 10px;
  box-sizing: border-box;
}

  #canvas {
    width: 700px;
    height: 550px;
    /* border: 1px solid black; */
    position: relative;
    margin: 10px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    overflow: clip;
  }
  
    #lines {
      padding: 0 5%;
      box-sizing: border-box;
      height: 100%;
      color: white;
    }

    .line {
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      text-shadow: 0px 0px 10px black;
      margin: 0;
      height: 33.3%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      position: relative;
    }

      .tutorial.t2 .line::after {
        content: "";
        width: 20%;
        height: 100%;
        background-image: url(../img/tap.gif);
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        left: 40%;
        top: 10%;
      }

      .line span {
        outline: 0px solid transparent;
        min-width: 5px;
        white-space: pre !important;
      }
      
      .tutorial #l1::after {
        content: "NO HAY PLATA" !important;
      }

      .tutorial .line span::after {
        content: "";
        opacity: 0.3;
      }
      
      #l1 {
        position: absolute;
        top: 0;
      }
      
      #l3 {
        position: absolute;
        bottom: 0;
      }

    #watermark {
      position: absolute;
      bottom: 6px;
      right: 0;
      opacity: 0.15;
      transform: rotate(-90deg) translateX(100%);
      transform-origin: 100% 100%;
      pointer-events: none;
      color: white;
      font-size: 21px;
      font-family: Verdana, Garamond, serif;
      text-shadow: 0 0 2px black;
    }

  #toolbar {
    font-size: 30px;
    padding-bottom: 20px;
  }

    #toolbar label input {
      display: inline-block;
    }

    .color {
      width: 70px;
      height: 45px;
      vertical-align: middle;
    }

    #prev-bg, #next-bg, #bgn {
      display: inline-block;
      width: 45px;
      height: 50px;
      vertical-align: middle;
    }

    #bgn {
      pointer-events: none;
      background: none;
      border: none;
      width: 50px;
      text-align: center;
      color: white;
    }

    #choose-bg {
      position: relative;
    }

    .tutorial.t1 #choose-bg::after {
      content: "";
      width: 200%;
      height: 200%;
      background-image: url(../img/tap.gif);
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      left: 30%;
      top: 0%;
    }

    #upload {
      display: none !important;
    }

  #backgrounds, .modal-dialog {
    width: 100% !important;
  }

    #bgs-row div {
      margin-bottom: 10px;
      cursor: pointer;
    }

    #bgs-row img {
      width: 100%;
      height: 100%;
      pointer-events: none;
    }

footer {
  position: fixed;
  bottom: 5px;
  left: 0;
  right: 0;
  font-size: 20px;
}

  footer span {
    background-color: rgba(255,255,255,0.4);
    border-radius: 15px;
    padding: 0 10px;
  }
